#G Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.direnv
src-gen
lib64
bin
result
share
include
build
target
.vscode
MUJOCO_LOG.txt
data.csv
instructions.csv
.idea
*.so*


data_analysis/Results
data_analysis/.venv/
data_analysis/one_trajectory_analysis/__pycache__
testing/testing_analysis/planner_multiple_trajectories_data